SECRET_KEY=change-me
JWT_SECRET_KEY=change-me-too
JWT_ACCESS_TOKEN_EXPIRES_MINUTES=60

SA_PASSWORD=YourStrong!Passw0rd
DATABASE_URL=mssql+pyodbc://sa:YourStrong!Passw0rd@localhost:1433/master?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes
